/**MEDIAQUEARY TABLET**/

@media only screen and (max-width: 991px)
{ 
    .hamburger {
        display: block;
    }  

    .header-nav {
        display: none;
    }

    .phone img {
        width: 300px;
        display: block;
        margin: 0 auto;
    }



    .conteiner_plan {
        flex-basis: calc(100%/2);
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }

   .col_plan{
        flex-basis: 60%;
        display: flex;
        flex-wrap: wrap;
    }
 


    .row_plan{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .plan-right {
        width: 60%;
        margin-top: 0;
        margin-left: 100px;
    }

    .img_plan_right {
        width: 60%;
        padding: 10px;
        padding-left: 60px;
    }

    .button--purple {
        margin-left: 130px;
    }

    
}



/**MEDIAQUEARY MOBILE**/

@media  screen and (max-width: 575px)
{ 
    .hero [class^="col"] {
        flex-basis: 100%;
    }
    
    


    .conteiner_plan {
        flex-basis: calc(100%/2);
        display: flex;
        flex-wrap: wrap;
    }

   .col_plan{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }
 


    .row_plan{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .plan-right {
        margin-top: 0;
    }
    
}


/****TESTIMONIALS MEDIAQUERY**/

/***TABLET***/

@media screen and (max-width: 991px){

    .testimonials {
        flex-basis: calc(100%/3);
        margin: 0 auto;
        
    }


    .card_testimonials {
        flex-basis: calc(100%/3);
        margin-bottom: 20px;
        margin-left: 150px;


    }

    .text_card_testimonials p, h3 {
        margin: 0 auto;
        font-size: 15px;
        line-height: 30px;
    }



}


/***MOBILE**/

@media  screen and (max-width: 575px){

    .text_card_testimonials p, h3 {
        margin: 0 auto;
        font-size: 10px;
        line-height: 18px;
    }

    .testimonials {
        flex-basis: calc(100%/3);
        margin: 0 auto;
        
    }

    .card_testimonials {
        flex-basis: calc(100%/3);
        margin-bottom: 20px;
        margin-left: 80px;


    }
}


/****BENEFITS MEDIAQUERY**/


/***TABLET***/

@media screen and (max-width: 991px){


    .conteiner_benefits{
        flex-basis: calc(100%/3);
        /*display: flex;
        flex-wrap: wrap;*/
        margin-top: 60px;
    }

   .col_ben{
        flex-basis: 100%;
        display: flex;
        /*flex-wrap: wrap;*/
    }
 


    /**.row_benefits{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }**/


    .card_ben {
        flex-basis: 80%;
    }

}    

/***MOBILE**/

@media  screen and (max-width: 575px){
    .conteiner_benefits{
        flex-basis: calc(100%/2);
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }

   .col_ben{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }
 


    .row_benefits{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }


    .card_ben {
        flex-basis: 100%;
    }

}