/**MEDIAQUEARY TABLET**/

@media only screen and (max-width: 991px)
{ 
    .hamburger {
        display: block;
    }  

    .header-nav {
        display: none;
    }

    .phone img {
        width: 300px;
        display: block;
        margin: 0 auto;
    }



    .conteiner_plan {
        flex-basis: calc(100%/2);
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }

   .col_plan{
        flex-basis: 60%;
        display: flex;
        flex-wrap: wrap;
    }
 


    .row_plan{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .plan-right {
        width: 60%;
        margin-top: 0;
        margin-left: 100px;
    }

    .img_plan_right {
        width: 60%;
        padding: 10px;
        padding-left: 60px;
    }

    .button--purple {
        margin-left: 130px;
    }

    
}



/**MEDIAQUEARY MOBILE**/

@media  screen and (max-width: 575px)
{ 
    .hero [class^="col"] {
        flex-basis: 100%;
    }
    
    


    .conteiner_plan {
        flex-basis: calc(100%/2);
        display: flex;
        flex-wrap: wrap;
    }

   .col_plan{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }
 


    .row_plan{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .plan-right {
        margin-top: 0;
    }
    
}