*{
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans JP', sans-serif;

}
img {
    width: 100%;
}

.conteiner {
    max-width: 1140px;
    margin:0 auto;
    margin-top: 10px;
    
}

ul,li,ol {
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/**ROW**/
.row {
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}


/**HEADER**/

.main-header {
    background-color: #0084FD ;
    padding: 19px 0;
    color: white;
    
}

.main-header nav.row {
    align-items: center;
    
}



.nav-item a {
    color: white;
    line-height: 38px;
    font-size: 14px;
    padding: 0 16px;
    font-family: 'Noto Sans JP', sans-serif;


}

/****BUTTONS**/
.button {
    border-radius: 20px;
    
}

.button--white {
    background-color: white;
    border-radius: 20px;
    

}

.button--white a {
    color: black;
}

.hamburger {
    display: none;
}

/**HERO**/

.card {
    background-color: #B5DDFF;
    padding: 0;
    border-radius: 20px;
    margin:10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.card_hero {
    background-color: #B5DDFF;
    padding: 0;
    border-radius: 20px;
    margin:10px;
    display: flex;
    
}

.card_phone {
    width: 50%;
    padding: 20px;
}
.phone {
    width: 50%;
}

.phone img {
    width: 300px;
    padding: 0;
}

.title_hero {
    padding-bottom: 20px;
    color: #0084FD;
}

.p_hero {
    font-size: 13px;
    padding-bottom: 20px;
}

.button--blue {
    background-color: #0084FD;
    text-align: center;
    color: white;
    width: 150px;
    padding: 10px;
}

.icon_hero {
    color: #0084FD;
    width: 100%;
    font-size: 100px;
    text-align: center;
    
}

/**COLUMN**/

.col-3 {
    flex-basis: calc(100%/3);
}

.col-2 {
    flex-basis: calc(100%*(2/3));
}



/**parte PLANNING**/

.conteiner_plan {
    width: 100%;
    background-color: #9792E4;
}

.row_plan {
    display: flex;
    justify-content: center;
}

.col_plan{
    width: 30%;
    align-items: center;
    padding: 20px;
    
}

/****col left***/
.img_plan {
    width: 400px;
    height: 350px;
    padding-bottom: 150px;
    padding-left: 70px;
    padding-top: 50px;
}

.title_plan {
    color: white;
    padding-bottom: 50px;
    font-size: 20px;
}

.p_plan {
    color: white;
    font-size: 13px;
    padding-bottom: 50px;
}

/****col right***/

.plan-right {
    background-color: white;
    border-radius: 40px;
    color: black;
    padding: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 200px;
    width: 400px;
}

.img_plan_right {
    width: 250px;
    padding: 20px;
    padding-left: 100px;
}

.title_plan_right {
    color: black;
    padding: 20px;
    
}

.p_plan-right {
    padding: 20px;
}

.button--purple {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9792E4;
    text-align: center;
    margin-left: 170px;
    
}

.button--purple i {
    padding-top: 15px;
}



